:root,
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  padding: 16px;
  height: 94vh;
  display: grid;
  align-items: center;
}

#language-selectors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toolbar {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 18px;
}

#textarea-actions,
#output-actions {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  justify-content: space-between;
}

#output-actions {
  justify-content: flex-end;
}

#audio-controls,
#file-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 12px;
}

gtk-textarea::part(textarea) {
  height: 76vh;
}

#action-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 770px) {
  #container {
    grid-template-columns: 1fr;
    gap: 4em;
  }
}

@media (prefers-color-scheme: dark) {
  :root,
  body {
    background-color: #222226;
    color: #ffffff;
  }
}
